/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

@layer utilities {
  @font-face {
    font-family: "Agency FB Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Agency FB Bold"), url("./fonts/AGENCYB.woff") format("woff");
  }
}

.explita-editor {
  @apply flex flex-col bg-[#FAFBFD] font-['Arial'] data-[mini=true]:border data-[mini=true]:border-[#C7C7C7];
}

.editor-item-active {
  @apply bg-neutral-200/80;
}

.explita-editor .editor-header .toolbar-content .separator {
  @apply !h-6 bg-neutral-300 shrink-0 bg-border;
}

.explita-editor .flex-center {
  @apply flex items-center gap-x-0.5;
}

.explita-editor .editor-header {
  @apply flex flex-col pt-0 sticky top-0 left-0 right-0 z-10 bg-white print:hidden text-slate-700 data-[mini=true]:border-b data-[mini=true]:border-[#C7C7C7];
}

.explita-editor .editor-header .toolbar-container {
  @apply flex items-center justify-between gap-x-10 bg-[#F1F4F9];
}

.explita-editor .editor-header .toolbar-content {
  @apply flex items-center gap-x-0.5 rounded-[0px] min-h-[40px] data-[mini=false]:overflow-x-auto data-[mini=true]:flex-wrap data-[mini=true]:gap-y-1 data-[mini=true]:p-1;
}

.explita-editor .editor-header .toolbar-button,
.tippy-box .toolbar-button {
  @apply size-7 shrink-0 flex flex-col items-center justify-center rounded-sm hover:bg-neutral-200/80;
}

.tippy-box .toolbar-button {
  @apply size-5;
}

.tippy-box .bubble-menu {
  @apply flex gap-2 bg-white shadow-md rounded p-1;
}

.explita-editor .editor-header .font-size-button {
  @apply h-7 w-10 text-sm text-center border border-neutral-400 rounded-sm bg-transparent cursor-text;
}

.explita-editor .editor-header .font-size-input {
  @apply h-7 w-10 text-sm text-center border border-neutral-400 rounded-sm bg-transparent focus:outline-none focus:ring-0;
}

.explita-editor .editor-header .dropdown-trigger-button {
  @apply h-7 w-[120px] shrink-0 flex items-center justify-between gap-2 rounded-sm hover:bg-neutral-200/80 px-1.5 overflow-hidden text-sm;
}

.editor-dropdown-content {
  @apply p-1 flex flex-col gap-y-1;
}

.editor-dropdown-menu-button {
  @apply flex items-center gap-x-2 px-2 py-1 rounded-sm hover:bg-neutral-200/80;
}

.editor-dropdown-menu-button span {
  @apply text-sm;
}

.editor-keyboard-shortcuts-wrapper {
  @apply flex flex-col gap-y-1 divide-y overflow-y-auto mt-3 max-h-[calc(100vh-70px)];
}

.editor-keyboard-shortcuts-wrapper .content {
  @apply flex items-center justify-between px-2 pt-1 text-xs;
}

.editor-keyboard-shortcuts-wrapper .content span:nth-child(2) {
  @apply text-muted-foreground mr-1 flex gap-x-1;
}

.editor-keyboard-shortcuts-wrapper .content span:nth-child(2) kbd {
  @apply bg-gray-200/80 rounded px-1 py-0.5 group-hover:bg-gray-200 group-hover:shadow group-hover:shadow-black;
}

.explita-editor .editor-loader {
  @apply data-[mini=false]:h-[calc(100vh-70px)] data-[mini=true]:h-40 flex flex-col items-center justify-center;
}

.explita-editor .editor-loader svg {
  @apply animate-spin size-8;
}

.explita-editor .editor-content-wrapper {
  @apply flex-1 print:py-0 mx-auto print:w-full print:min-w-0 print:overflow-visible print:scale-100 w-full overflow-y-auto data-[mini=false]:py-2 data-[mini=false]:space-y-2;
}

.explita-editor .editor-content-wrapper .ruler-container-wrapper {
  @apply mx-auto h-6 border-b border-gray-300 flex items-end relative select-none print:hidden;
}

.explita-editor .editor-content-wrapper .ruler-container {
  @apply w-full h-full relative;
}

.explita-editor .editor-content-wrapper .ruler-container .mark-10 {
  @apply absolute bottom-0 w-[1px] h-2 bg-neutral-500;
}

.explita-editor .editor-content-wrapper .ruler-container .mark-5-10 {
  @apply absolute bottom-0 w-[1px] h-1.5 bg-neutral-500;
}

.explita-editor .editor-content-wrapper .ruler-container .mark-5 {
  @apply absolute bottom-0 w-[1px] h-1 bg-neutral-500;
}

.explita-editor .editor-content-wrapper .ruler-container .digit {
  @apply absolute bottom-2 text-[10px] text-neutral-500 transform -translate-x-1/2;
}

.explita-editor .editor-content {
  @apply focus:outline-none bg-white border-[#C7C7C7] flex flex-col cursor-text mx-auto print:!w-full print:border-0;
}

div[data-mini="false"] .editor-content {
  @apply border;
}

.explita-editor .menu-trigger {
  @apply text-sm font-normal py-0.5 px-[7px] rounded-sm hover:bg-muted h-auto;
}

.explita-editor .table-popup-menu {
  @apply flex gap-3 rounded-br-md rounded-bl-md shadow-sm bg-white p-2 flex-wrap;
}

.explita-editor .table-popup-menu button {
  @apply flex items-center gap-1 text-xs text-black hover:bg-neutral-200/60 px-2 py-1 rounded disabled:text-black/40;
}

.explita-editor footer {
  @apply flex items-center justify-between bottom-0 bg-slate-100 border-t border-slate-300 px-5 py-0.5 text-xs select-none print:hidden;
}

.explita-editor .tiptap {
  @apply text-black;

  div[data-page-break] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1em 0;
    height: 2px;
    border: none;
  }

  div[data-page-break] hr {
    border: none;
    border-top: 4px dashed var(--page-break-line-color, #888);
    /* Line styling */
    width: 100%;
    margin: 0;
  }

  div[data-page-break]::after {
    content: "Page Break";
    position: absolute;
    top: -10px;
    background: white;
    padding: 0 8px;
    font-size: 0.8em;
    color: var(--page-break-text-color, #555);
    /* Default to darker gray */
  }

  div[data-page-break].ProseMirror-selectednode hr {
    border-color: #93c5fd;
  }

  @media print {
    div[data-page-break] {
      break-before: always;
      page-break-before: always;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
      border-width: 0;
    }
    div[data-page-break] hr {
      border-top: 0px;
    }
    div[data-page-break]::after {
      content: "";
    }
  }

  [data-pagination] {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* Link styles */
  a {
    @apply text-blue-600 cursor-pointer;

    &:hover {
      @apply underline;
    }
  }

  /* Image-specific styling */
  img {
    display: block;
    height: auto;
    margin: 1.5rem 0;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid purple;
    }
  }

  /* Table-specific styling */
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;

    td,
    th {
      border: 1px solid black;
      box-sizing: border-box;
      min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: #c7c7c7;
      font-weight: bold;
      text-align: left;
    }

    .selectedCell:after {
      background: #c7c7c861;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: purple;
      bottom: -2px;
      pointer-events: none;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
    }
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
  }
  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  ol li p,
  ul li p {
    /* margin-top: 0.25em; */
    margin-bottom: 0.25em;
  }

  /* Task list specific styles */
  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
      align-items: flex-start;
      display: flex;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }

    ul[data-type="taskList"] {
      margin: 0;
    }
  }

  .page-break {
    height: 20px;
    width: 100%;
    border-top: 1px dashed #ccc;
    margin: 10px 0;
  }
}

@layer utilities {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
